<a href="https://colab.research.google.com/github/AilingLiu/Survival_analysis/blob/master/Simple_Cox_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('xtick', labelsize=14)
mpl.rc('ytick', labelsize=14)
mpl.rc('axes', linewidth=1.5)

In [0]:
data_link = 'https://raw.githubusercontent.com/AilingLiu/Survival_analysis/master/Data/simulated%20HF%20mort%20data%20for%20GMPH%20(1K)%20final.csv'

hf = pd.read_csv(data_link, index_col='id')
hf.head()

    death  los  age  gender  ...  senile  quintile  ethnicgroup  fu_time
id                           ...
1       0    2   90       2  ...       0       2.0          NaN      416
2       0   10   74       1  ...       0       4.0          1.0      648
3       0    3   83       2  ...       0       3.0          1.0      466
4       0    1   79       1  ...       0       5.0          1.0      441
5       0   17   94       2  ...       0       2.0          1.0      371

[5 rows x 30 columns]

Using Ethnicgroup as predictor to build simple cox model

In [0]:
hf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 30 columns):
death                   1000 non-null int64
los                     1000 non-null int64
age                     1000 non-null int64
gender                  1000 non-null int64
cancer                  1000 non-null int64
cabg                    1000 non-null int64
crt                     1000 non-null int64
defib                   1000 non-null int64
dementia                1000 non-null int64
diabetes                1000 non-null int64
hypertension            1000 non-null int64
ihd                     1000 non-null int64
mental_health           1000 non-null int64
arrhythmias             1000 non-null int64
copd                    1000 non-null int64
obesity                 1000 non-null int64
pvd                     1000 non-null int64
renal_disease           1000 non-null int64
valvular_disease        1000 non-null int64
metastatic_cancer       1000 non-null int64
pacemaker               1000 non-null int64
pneumonia               1000 non-null int64
prior_appts_attended    1000 non-null int64
prior_dnas              1000 non-null int64
pci                     1000 non-null int64
stroke                  1000 non-null int64
senile                  1000 non-null int64
quintile                994 non-null float64
ethnicgroup             957 non-null float64
fu_time                 1000 non-null int64
dtypes: float64(2), int64(28)
memory usage: 242.2 KB

In [0]:
df = hf.dropna(subset=['ethnicgroup'])
sum(df.ethnicgroup.isnull())

0

In [0]:
df.ethnicgroup.describe()

count    957.000000
mean       1.230930
std        1.115676
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        9.000000
Name: ethnicgroup, dtype: float64

In [0]:
#!pip install lifelines

In [0]:
# convert the ethnicgroup into one hot encoding
ethnic = pd.get_dummies(df['ethnicgroup'], prefix='ethnic', drop_first=True)
ethnic.head()

    ethnic_2.0  ethnic_3.0  ethnic_9.0
id
2            0           0           0
3            0           0           0
4            0           0           0
5            0           0           0
7            0           0           0

In [0]:
from lifelines import CoxPHFitter
cox = CoxPHFitter()

data1=pd.concat([ethnic, df[['death', 'fu_time']]], axis=1)
model = cox.fit(data1, 'fu_time', event_col='death')
model.print_summary()